
.container {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.field-dark {
    color: white;
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, .0625);
    border-radius: 3px;
    box-sizing: border-box;
    height: 2em;
    -webkit-appearance: none;
    padding: 0.25em 0.70rem;
}


.p1 {
    padding: .5rem;
}

.py1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.px1 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.p2 {
    padding: 1rem;
}

.py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.p3 {
    padding: 2rem;
}

.py3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px3 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.p4 {
    padding: 4rem;
}

.py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.bg-blue {
    background-color: #0076df;
}

.white {
    color: white;
}

.mb2 {
    margin-bottom: 1rem;
}


.button-nav-dark {
    color: white;
}

.py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.m0 {
    margin: 0;
}

button, .button {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.125;
    padding: .5em 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    -webkit-appearance: none;
    font-size: medium;
}





.button-nav-dark:active, .button-nav-dark.is-active {
    background-color: rgba(0, 0, 0, .125);
    color: white;
}




.button:hover {
    text-decoration: none;
    color: white;
}






.button-nav-light:hover {
    background-color: rgba(0, 0, 0, .0625);
}

.button-nav-light:active,
.button-nav-light.is-active {
    color: #333;
}

.button-nav-dark {
    color: white;
}

    .button-nav-dark:hover {
        background-color: rgba(0, 0, 0, .125);
        color: white;
    }

    .button-nav-dark:active,
    .button-nav-dark.is-active {
        background-color: rgba(0, 0, 0, .125);
    }

.button-nav-tab {
    margin-bottom: -1px;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #ccc;
}

    .button-nav-tab:hover {
        background-color: rgba(0, 0, 0, .0625);
    }

    .button-nav-tab.is-active {
        background-color: white;
        border-bottom: 1px solid white;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }


.button-small {
    padding: .25em .5rem;
}

.button-big {
    line-height: 1.625;
}

.button-narrow {
    padding-left: .5rem;
    padding-right: .5rem;
}













.container-view {
    width: 100%;
    height: 550px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}



.dragscroll {
    /*border: 1px solid rgb(31, 40, 49);*/
    /*background-color: #283849;*/
    overflow: auto;
    margin-top: -10px;
}

.vertical.dragscroll {
    width: 270px;
    height: 380px;
    float: left;
    padding: 10px;
}

.free.dragscroll {
    /*float: right;*/
    width: 100%;
    height: 550px;
    overflow: scroll;
    cursor: grab;
    cursor: -o-grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.horizontal.dragscroll {
    /* margin-top : 10px; */
    width: 700px;
    /* margin-left: auto; */
    /* background-color: #000000; */
    /* margin-right: auto; */
}

.free, .horizontal {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: grab;
}


    .free:active, .horizontal:active {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: -o-grabbing;
        cursor: grabbing;
    }
